@import "tailwindcss";
@variant dark (&:where(.dark, .dark *));

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@keyframes shine {
  0% {
    left: -100%;
  }

  100% {
    left: 200%;
  }
}

.animate-shine {
  animation: shine 1s;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

html {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

html::-webkit-scrollbar {
  width: 0;
}

html::-webkit-scrollbar {
  display: none;
}

/* 1. The Input Container */
.aegis-slider {
  -webkit-appearance: none;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  cursor: pointer;
  outline: none;
  /* NO background color here! We add it dynamically in React via inline styles */
}

/* 2. The Thumb (Circle) */
.aegis-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: #6366f1; /* Indigo 500 */
  margin-top: -6px; /* Centers thumb vertically */
  box-shadow: 0 0 10px 2px rgba(99, 102, 241, 0.6);
  transition: transform 0.2s cubic-bezier(0.4, 0, 0.2, 1), box-shadow 0.2s;
  position: relative;
  z-index: 10;
}

.aegis-slider:hover::-webkit-slider-thumb {
  transform: scale(1.25);
  box-shadow: 0 0 15px 4px rgba(99, 102, 241, 0.8);
}

/* 3. The Track - MUST BE TRANSPARENT */
/* If this has a color, it will hide your progress bar! */
.aegis-slider::-webkit-slider-runnable-track {
  width: 100%;
  height: 4px;
  background: transparent; /* <--- CRITICAL */
  border-radius: 2px;
  border: none;
}

/* Firefox specific support */
.aegis-slider::-moz-range-track {
  width: 100%;
  height: 4px;
  background: transparent;
}
.aegis-slider::-moz-range-thumb {
  height: 16px;
  width: 16px;
  border: none;
  border-radius: 50%;
  background: #6366f1;
}
